body {
    background-color: #131722;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: #217f41;
}
header {
    background-color: #073d70;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header a {
    color: #ad219f;
    margin-left: 1rem;
}
header .name {
    color: #B8860B;
    margin-right: 1rem;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
main section {
    flex: 1;
    margin-left: 20%;
    margin-top: 4rem;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 1rem;
}
.crypto-names {
    color: #848e9c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
th, td {
    border: 1px solid #373b41;
    padding: 0.5rem;
    text-align: center;
    font-size: 17px;
    font-weight: 350;

}
th {
    background-color: #21262d;
    color: #fff;
}
