{% extends "log_reg_base.html" %}

{% block content %}

<form class="sign" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="content">

        <h2>Sign Up</h2>

        <div class="form">
            {% for item in form if item.name != "csrf_token"%}
            {% if item.name != "submit" %}
            <div class="inputBox">

                {{item(class="form-control")}} <i>{{item.label}}</i>

            </div>
            {% else %}
            <div class="mesg">
                {{message}}
            </div>
            <div class="inputBox">
                {{item(type="submit", class="btn btn-primary")}}
            </div>

            {% endif %}
            {% endfor %}

        </div>

    </div>

</form>

{% endblock %}